*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.yellow{
    background-color: yellow;
    color: white;
}
.red{
    background-color: red;
    color: white;
}
.text-dark{
    color: black;
}